@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.Yoga_Check_Enrollment
{
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    gap:10px;
}

.Yoga_Check_Enrollment select
{
    width:30%;
    height:3vh;
    text-align:center;
}

.Yoga_Check_Enrollment button
{
    width:30%;
    height:5vh;
    text-align:center;
    border-radius:25px;
    border:1px solid #FF0000;
    background-color:white;
}
